@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import "tailwindcss";
@plugin "daisyui";

* {
   font-family: "Inter";
   box-sizing: border-box;
}
html, body {
   height: 100%;
   width: 100%;
}

.bg-dark {
  background-color: #040303;
}

.bg-semilight {
  background-color: #0d0b09;
}

.bg-light {
  background-color: #181514;
}

.bg-superlight {
  background-color: #DFD0B8;
}

.text-dark {
  color: #F8F0ED;
}

.text-light {
  color: #B7AFAD;
}

.text-secondary {
  color: #B7AFAD;
}