@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import "tailwindcss";
@plugin "daisyui";

* {
   font-family: "Inter";
   box-sizing: border-box;
}
html, body {
   height: 100%;
   width: 100%;
}

.bg-dark {
  background-color: #222831;
}

.bg-semilight {
  background-color: #1e2227;
}

.bg-light {
  background-color: #948979;
}

.bg-superlight {
  background-color: #DFD0B8;
}

.text-dark {
  color: #948979;
}

.text-light {
  color: #DFD0B8;
}

.text-secondary {
  color: #E3CFAF;
}